*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --preto:#000;
    --verdeclaro:#D8F852;
    --verdeescuro:#D8F852;
    /* --rosa:#fad2d5; */
    --branco:#fff;
}


/* 
   DEBUG CLASES
*/
.bug{
  outline: 1px solid lime;
}


.img-box{
    padding:8px 5px;
    -webkit-box-shadow: 6px 3px 15px -6px #000000; 
box-shadow: 6px 3px 15px -6px #000000;
}



.h100{
    height: 100vh;
    background-color:var(--preto);
}

.bg-dark{
    background-color:var(--preto) !important;
}

#hero{
    background-color:var(--preto);
}

#hero .video-wrapper{

    display: flex;
    justify-content: center;

}

#hero .video-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hero .video-title h5{
    text-align: center;
    width:fit-content;
    background-color:var(--rosa);
    padding: 3px 10px;
    text-align: center;
    color:var(--branco);
}



.download-btn{
    background-color:var(--verdeclaro) !important;
    border-radius: 0;
    padding:3px 10px;
}
.download-btn-lg{
    background-color:var(--verdeclaro) !important;
    border-radius: 0;
    padding:15px 25px;
    color: var(--branco);
    font-size: 1.3rem;
}

.btn-bottom{
    position:absolute;
    bottom:-90px;
}


.logo{
    margin: 0px 5px;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title h3{
    max-width: 30ch;
    text-align: center;
}

.section-title p{
    max-width: 40ch;
    text-align: center;
    
}

.btn-submit{
    border: none;
    background-color:var(--verdeclaro) !important;
}



.linha{
    width: 94%;
    height: 2px;
    background-color:#484545;
    margin-bottom: 10px;
}


footer a{
    font-size: .8rem;
}

.navbar-line{
    width:84%;
    height: 2px;
    margin: 10px auto;
    background-color:#606c38;
}
.navbar-line .maior{
    width: 85%;
    background-color:var(--verdeclaro);
    height: 2px;
}





/* 
   HERO SECTION
*/

/*
#hero{
    background-color: var(--preto);
 
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
}





.video-title{
    width:fit-content;
    background-color: var(--rosa);
    padding: 3px 10px;
    color:var(--branco);
}

#video-player{
    background-color: #fff;
    width:90vw;
    min-height: 50px;
}
*/