*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --preto:#000;
    --verdeclaro:#D8F852;
    --verdeescuro:#D8F852;
    /* --rosa:#fad2d5; */
    --branco:#fff;
}
body{
    font-family: 'Grotesk65';
}


@font-face {
    font-family: 'Grotesk95';
    src:  url('./fonts/NHaasGroteskDSPro-95Blk.woff.ttf') format('woff2'),
          url('./fonts/NHaasGroteskDSPro-95Blk.woff.ttf') format('woff');
}

@font-face {
    font-family: 'Grotesk75';
    src:  url('./fonts/NHaasGroteskDSPro-75Bd.woff.ttf') format('woff2'),
          url('./fonts/NHaasGroteskDSPro-75Bd.woff.ttf') format('woff');
}
@font-face {
    font-family: 'Grotesk65';
    src:  url('./fonts/NHaasGroteskDSPro-65Md.ttf') format('woff2'),
          url('./fonts/NHaasGroteskDSPro-65Md.ttf') format('woff');
}


/* 
   DEBUG CLASES
*/
.bug{
  outline: 1px solid lime;
}


.img-box{
    padding:8px 5px;
    -webkit-box-shadow: 6px 3px 15px -6px #000000; 
box-shadow: 6px 3px 15px -6px #000000;
}





.h100{
    height: 100vh;
    background-color:var(--preto);
}

.bg-dark{
    background-color:var(--preto) !important;
}

#hero{
    background-color:var(--preto);
}

#hero .video-wrapper{

    display: flex;
    justify-content: center;

}

#hero .video-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#hero .video-title h5{

    font-family:'Grotesk75' ;  
    line-height: 2rem;
    font-size: 2rem;                    
    text-align: center;
    width:fit-content;
    background-color:var(--rosa);
    padding: 3px 10px;
    text-align: center;
    color:var(--branco);
}




#hero .video-under-title h5{

    font-family:'Grotesk65' ;  
    /* line-height: 2rem; */
    font-size: 1.3rem;                    
    
    width:fit-content;
    background-color:var(--rosa);
    /* padding: 3px 10px; */
   
    color:var(--branco);
    /* outline: 1px solid red; */
}



.owl-box{
    width:200px;
    height: 120px;
    border: 1px solid darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 3px 6px rgba(0,0,0,0.8); 
    
}

@media (max-width:700px){
    .owl-box{
     
        margin: 0 auto;
    }
}


.download-btn{
    font-family: 'Grotesk95';
    background-color:var(--verdeclaro) !important;
    border-radius: 0;
    padding:3px 10px;
}
.download-btn-lg{
    font-family: 'Grotesk95';
    background-color:var(--verdeclaro) !important;
    border-radius: 0;
    padding:15px 25px;
    color: var(--preto);
    font-size: 1.3rem;
}

.btn-bottom{
    position:absolute;
    bottom:-90px;
}
.btn-block{
    font-family: 'Grotesk95';
    color: var(--preto);
}

.logo{
    margin: 0px 5px;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title h3{
    font-family: 'Grotesk65';
    max-width: 30ch;
    text-align: center;
}


.section-title p{
    font-family: 'Grotesk65';
    max-width: 40ch;
    text-align: center;
    
}

.btn-submit{
    border: none;
    background-color:var(--verdeclaro) !important;
}

.image-galery .section-title h3{
font-family: 'Grotesk75';
}

.linha{
    width: 94%;
    height: 2px;
    background-color:#484545;
    margin-bottom: 10px;
}


footer a{
    font-size: .8rem;
}

.navbar-line{
    width:84%;
    height: 2px;
    margin: 10px auto;
    background-color:#606c38;
}
.navbar-line .maior{
    width: 85%;
    background-color:var(--verdeclaro);
    height: 2px;
}



.links-uteis a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
